.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-text-color);
  letter-spacing: 0.03em;
}
.features__icon-box {
  height: 120px;
  background-color: var(--background-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.features__item {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
