:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --gray-text-color: #757575;
  --background-hero: #2f303a;
  --background-gradient-color: rgba(47, 48, 58, 0.4);
  --white-color: #fff;
  --black-color: #000;
  --background-gray-color: #f5f4fa;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --button-hero-active: #188ce8;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
  --form-focus: #2196f3;
  --form-input-color: rgba(117, 117, 117, 0.5);
  --placeholder-color: rgba(255, 255, 255, 0.6);
}
